<table class="table">
    {%if header%}
    <thead>
        {%for row in header%}
        <tr>
            {%for cell in row%}
            <td>
                {{cell}}
            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </thead>
    {%endif%}
    {%if rows%}
    <tbody>
        {%for row in rows%}
        <tr>
            {%for cell in row%}
            <td>
                {{cell}}
            </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
    {%endif%}
</table>
